extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout

  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.js')
  script(type="text/javascript").
    var message = "Version " + Vue.version + " of Vue.js is working!";
    alert(message);